body {
  background-image: url("images/gplaypattern.png");
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.jumbotron {
  font-size: 40px;
}

#test {
  border: 1px solid #333;
  padding: 10px 40px 40px 40px;
}